<div class="footer-me-container">
	<div class="footer-me-content">
		<div>
			<img src="../../../assets/photo me.jpg" alt="photo" srcset="" />
		</div>

		<div class="about-me-paragraph-container">
			<h1 class="about-me-h1">Sobre mim</h1>
			<div class="about-me-paragraph">
				<p>
					Profissional com carreira em desenvolvimento na área de Programação
					Web. Experiência no que corresponde a realização de projetos práticos
					envolvendo HTML, CSS e JavaScript, Node.js, React, Angular e
					Typescript utilizando as melhores práticas de desenvolvimento de
					software.
					<br />
					Aliado a experiência profissional como Programador, possui total
					dedicação aos estudos e aprendizado de novos conteúdos, tecnologias e
					ferramentas, contribuindo para a implementação de melhorias contínuas
					de processos e procedimentos.
					<br />
					Estou aberto a novas oportunidades profissionais, estando comprometido
					com os objetivos do time e trabalhando em harmonia com todos.
				</p>
			</div>

			<div class="my-links-container">
				<a href="https://www.linkedin.com/in/mateus-oling/" target="_blank">
					<img
						class="linkedin-logo"
						src="../../../assets/linkedin.png"
						alt=""
					/>
				</a>
				<a href="https://github.com/Mateus-Oling" target="_blank">
					<img
						class="github-logo"
						src="../../../assets/github-logo.png"
						alt=""
					/>
				</a>
			</div>
		</div>

		<div class="about-project">
			<h1>Sobre o projeto</h1>
			<div class="about-project-div-paragraph">
				<p>
					Nesse projeto tive por objeito recriar a página da Playstation Store
					usando principalmente a tecnologia Angular, e as linguagens JavaScript
					e Typescript.
					<br />
					Fazer esse projeto foi muito satisfatório, pois sou um gamer desde
					meus 5 anos, e ao invés de trazer uma seleção aleatória de jogos na
					loja, trouxe meus jogos de Playstation favoritos, todos "zerados" por
					mim em algum momento da minha vida.
					<br />
					Uma das principais "features" utilizadas foi a componentização dos
					blocos de conteúdo, possibilitando que novas áreas sejam criadas com
					muita facilidade com reaproveitamento de código, além de possibiltiar
					fácil manutenção dos elementos existentes, por serem todos
					independentes entre si.
					<br />
					Todos os links presentes redirecionam para os mesmos endereços web que
					os originais na Playstation Store.
					<br />
					Quanto ao design, realizei algumas mudanças para melhor em relação ao
					modelo original da Playstation Store.
				</p>
			</div>
		</div>
	</div>
</div>
