<div class="menu-container">
	<div class="menu-bar-logo">
		<img
			src="../../../assets/Playstation-Store-removebg-preview.png"
			alt="psn-logo"
			srcset=""
			width="260px"
			height="70px"
		/>
	</div>

	<div class="menu-bar-items">
		<ul>
			<li><a href="https://store.playstation.com/pt-br/pages/latest" target="_blank">Novidades</a></li>

			<li><a href="https://store.playstation.com/pt-br/pages/collections" target="_blank">Coleções</a></li>

			<li><a href="https://store.playstation.com/pt-br/pages/deals" target="_blank">Ofertas</a></li>

			<li><a href="https://store.playstation.com/pt-br/pages/ps5" target="_blank">PS5</a></li>

			<li><a href="https://store.playstation.com/pt-br/pages/subscriptions" target="_blank">Assinaturas</a></li>

			<li><a href="https://store.playstation.com/pt-br/pages/browse" target="_blank">Navegar</a></li>
		</ul>
	</div>

	<div>
		<button class="button">
            <a class="start-session" href="https://my.account.sony.com/central/signin/?duid=0000000700090100d230d023cba6df43e6a5afe5a09ebc9bcbe5b0efde166e440561865dcd43c0a6&response_type=code&client_id=e4a62faf-4b87-4fea-8565-caaabb3ac918&scope=web%3Acore&access_type=offline&state=ce43a094a807ffa47891ec735bc09ef18ed397faf96cd1f6d2d04a07cb759282&service_entity=urn%3Aservice-entity%3Apsn&ui=pr&smcid=web%3Astore&redirect_uri=https%3A%2F%2Fweb.np.playstation.com%2Fapi%2Fsession%2Fv1%2Fsession%3Fredirect_uri%3Dhttps%253A%252F%252Fstore.playstation.com%252Fpt-br%252Fpages%252Fdeals%26x-psn-app-ver%3D%2540sie-ppr-web-session%252Fsession%252Fv5.30.1-hotfix.2&auth_ver=v3&error=login_required&error_code=4165&error_description=User+is+not+authenticated&no_captcha=false&cid=5109ae28-4f23-4b08-b436-3948eb33b41d#/signin/ca?entry=ca">Iniciar sessão</a>
			
        </button>
	</div>
</div>
