<div class="footer-container">
	<div class="footer-logos">
		<div class="footer-logo-container">
			<img
				src="../../../assets/ps logo.png"
				alt="playstation-logo"
			/>
			
		</div>
	</div>

	<div class="footer-content-container">
		<div class="columns-container">
			<div class="column first-column">
				<ul>
					<li class="first-line"><a href="https://www.playstation.com/pt-br/support/" target="_blank">Suporte</a></li>
					<li><a href="https://www.playstation.com/pt-br/legal/privacy-policy/" target="_blank">Política de privacidade</a></li>
					<li><a href="https://www.playstation.com/pt-br/legal/website-terms-of-use/" target="_blank">Termos de uso do site</a></li>
					<li><a href="https://www.playstation.com/pt-br/site-map/" target="_blank">Mapa do site</a></li>
					<li><a href="https://www.playstation.com/pt-br/corporate/playstation-studios/" target="_blank">Playstation Studios</a></li>
					<li><a href="https://www.playstation.com/pt-br/legal/" target="_blank">Legal</a></li>
					<li><a href="https://www.playstation.com/pt-br/corporate/about-us/" target="_blank">Sobre a SIEE</a></li>
				</ul>
			</div>

			<div class="column second-column">
				<ul>
					<li><a href="https://www.playstation.com/pt-br/legal/psn-terms-of-service/" target="_blank">Termos de serviço da PSN</a></li>
					<li><a href="https://www.playstation.com/pt-br/legal/playstation-store-cancellation-policy/" target="_blank">Política de cancelamento da PS Store</a></li>
					<li><a href="https://www.playstation.com/pt-br/legal/health-warning/" target="_blank">Avisos de saúde</a></li>
					<li><a href="https://www.playstation.com/pt-br/support/account/age-ratings-playstation/" target="_blank">Sobre as classificações</a></li>
				</ul>
			</div>

			<div class="column third-column">
				<ul>
					<li><a href="https://www.facebook.com/PlayStationBR" target="_blank">Facebook</a></li>
					<li><a href="https://twitter.com/PlayStation_BR" target="_blank">Twitter</a></li>
					<li><a href="https://www.youtube.com/user/PlayStationBR" target="_blank">YouTube</a></li>
					<li><a href="https://www.instagram.com/playstation_br/" target="_blank">Instagram</a></li>
					<li><a href="https://play.google.com/store/apps/details?id=com.scee.psxandroid&utm_source=pdcfooter" target="_blank">Aplicativos para Android</a></li>
					<li><a href="https://apps.apple.com/app/apple-store/id410896080" target="_blank">Aplicativos para iOS</a></li>
				</ul>
			</div>
		</div>

		<div class="footer-bottom">
			<span
				>© 2023 Sony Interactive Entertainment Inc. Todos os direitos
				reservados.</span
			>
		</div>
	</div>
</div>
