<div class="home-container">
    
    <app-card
    gameCover="assets/thewitcher3.webp"
    gamePricing="R$ 164,90"
    consoleTypeOne=""
    consoleTypeTwo="PS4"
    externalLink="https://store.playstation.com/pt-br/product/UP4497-PPSA10407_00-00000000000000N2"
    >
    </app-card>

    <app-card
    gameCover="assets/gow.jpeg"
    gamePricing="R$ 112,12"
    consoleTypeOne=""
    consoleTypeTwo="PS4"
    externalLink="https://store.playstation.com/pt-br/product/UP9000-CUSA07408_00-GODOFWARDDE00000"
    >
    </app-card>

    <app-card
    gameCover="assets/thelastofus.webp"
    gamePricing="R$ 349,90"
    consoleTypeOne="PS5"
    consoleTypeTwo="PS4"
    externalLink="https://store.playstation.com/pt-br/product/UP9000-PPSA03396_00-THELASTOFUSPART1"
    >
    </app-card>

    <app-card
    gameCover="assets/gta5.webp"
    gamePricing="R$ 161,17"
    consoleTypeOne="PS5"
    consoleTypeTwo="PS4"
    externalLink="https://store.playstation.com/pt-br/product/UP1004-PPSA03420_00-GTAOANDSPUPGRADE"
    >
    </app-card>

    
    <app-card
    gameCover="assets/fallout4.webp"
    gamePricing="R$ 99,50"
    consoleTypeOne="PS5"
    consoleTypeTwo="PS4"
    externalLink="https://store.playstation.com/pt-br/product/UP1003-CUSA03448_00-FALLOUT4FULLGAME"
    >
    </app-card>

    <app-card
    gameCover="assets/horizon.webp"
    gamePricing="R$ 299,90"
    consoleTypeOne="PS5"
    consoleTypeTwo="PS4"
    externalLink="https://store.playstation.com/pt-br/product/UP9000-CUSA28561_00-FORBIDDENWESTPS4"
    >
    console.log(app-card.consoleTypeOne)
    </app-card>

    <app-card
    gameCover="assets/reddead.jpeg"
    gamePricing="R$ 164,27"
    consoleTypeTwo="PS4"
    externalLink="https://store.playstation.com/pt-br/product/UP1004-CUSA03041_00-REDEMPTIONFULL02"
    >
    </app-card>

    <app-card
    gameCover="assets/masseffect.jpeg"
    gamePricing="R$ 299,90"
    consoleTypeTwo="PS4"
    externalLink="https://store.playstation.com/pt-br/product/UP0006-CUSA19500_00-METR000000000000"
    >
    </app-card>

    <app-card
    gameCover="assets/asco.webp"
    gamePricing="R$ 119,99"
    consoleTypeTwo="PS4"
    externalLink="https://store.playstation.com/pt-br/product/UP0001-CUSA09311_00-GAME000000000000"
    >
    </app-card>

    <app-card
    gameCover="assets/ghost.jpeg"
    gamePricing="R$ 299,90"
    consoleTypeTwo="PS4"
    externalLink="https://store.playstation.com/pt-br/product/UP9000-CUSA11456_00-GHOSTDIRECTORPS4"
    >
    </app-card>

    <app-card
    gameCover="assets/assassins creed valhalla.webp"
    gamePricing="R$ 279,90"
    consoleTypeTwo="PS4"
    consoleTypeOne="PS5"
    externalLink="https://store.playstation.com/pt-br/product/UP0001-PPSA01491_00-GAME000000000000"
    >
    </app-card>

    <app-card
    gameCover="assets/uncharted.webp"
    gamePricing="R$ 279,90"
    consoleTypeTwo="PS4"
    externalLink="https://store.playstation.com/pt-br/product/UP9000-CUSA00341_00-U4UTLLBUNDLE0000"
    >
    </app-card>

    <app-card
    gameCover="assets/black flag.webp"
    gamePricing="R$ 29,99"
    consoleTypeTwo="PS4"
    externalLink="https://store.playstation.com/pt-br/product/UP0001-CUSA00010_00-AC4GAMEPS4000001"
    >
    </app-card>
    
    <app-card
    gameCover="assets/metro2.jpeg"
    gamePricing="R$ 149,50"
    consoleTypeTwo="PS4"
    consoleTypeOne="PS5"
    externalLink="https://store.playstation.com/pt-br/product/UP2047-PPSA02395_00-METROEXODUS0GEN9"
    >
    </app-card>

    <app-card
    gameCover="assets/bioshock3.webp"
    gamePricing="R$ 207,90"
    consoleTypeTwo="PS4"
    externalLink="https://store.playstation.com/pt-br/product/UP1001-CUSA03979_00-BIOSHOCKCOLLECTN"
    >
    </app-card>

    <app-card
    gameCover="assets/starwars.webp"
    gamePricing="R$ 149,49"
    consoleTypeTwo="PS4"
    consoleTypeOne="PS5"
    externalLink="https://store.playstation.com/pt-br/product/UP1018-PPSA01864_00-LEGOSWTSS0000000"
    >
    </app-card>
    
    
</div>

